{% extends 'base.html.twig' %}

{% block title %} HomePage | {{parent()}} {% endblock %}

{% block body %}
	<h1>{{title}}</h1>

	{#Trying Twig#}
	<div class="container">
		Our Sweet blog
		<ul>
			{% for trick in tricks  %}
				<li>
					{{trick}}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
