{% extends 'base.html.twig' %}

{% block title %} Create a New trick | {{parent()}} {% endblock %}

{% block body %}
	<h1>{{title}}</h1>

	{#Trying Twig#}
	<div>
		Our Sweet blog
		<ul>
			{% for trick in tricks  %}
				<li>
					{{trick}}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
