.background_home{
    background-image: url('../image/snowboard-g1f3ffa0d2_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.cool_pics{
    height: 200px !important;
    object-fit: cover !important;
}