.background-trick {
    background-image: url('../image/snowboard-g1f3ffa0d2_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.trick-detail-card {
    margin-top: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    z-index: 5;
}

.main-pic {
    height: 600px;
    object-fit: cover;
}

.update-btn{
    top: 0;
    right: 0;
}

.small-pics {
    height: 150px;
    width: 200px;
    object-fit: cover;
}

#mediaDropdown{
    display:none;
}



@media (max-width: 768px) {
    .smooth-transition {
        transition: margin-top 0.3s ease-out; /* You can adjust the duration and timing function as needed */
    }

    .background-home{   
        height: 30vh; 
    }
    
    .main-pic{
        height: 8rem;
        object-fit: cover;
    }

    .trick{
        width: 60rem;
    }

    #mediaDropdown{
        display:block;
    }
    
}